@charset 'utf-8';
@-ms-viewport { width: device-width; }

body {
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
}

header {
    background-color: #5bb75b;
    padding: 10px;
    text-align: center;
}
  
header h1 {
    display: inline;
    margin: 0;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
}
  
header .added {
    
    float: right;
}
    
header .added a {
  text-decoration: none;
  color: #FFFFFF;
  vertical-align: middle;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}


.main {
    margin: 20px 20px 200px 20px;
}

section {
    margin: 20px auto 0 auto;
    max-width: 700px;
    border: 2px solid #93e617;
    border-radius: 3px;
}

section h1 {
    background-color: #93e617;
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

.container {
    width: 100%;
    height: 400px;
}