@charset 'utf-8';
@-ms-viewport { width: device-width; }

body {
	margin: 0;
	background: url('sample.png') repeat;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
}

.main {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

header {
	margin: 0 0 20px 0;
	padding: 10px;
}

.title {
	display: table;
	width: 100%;
	text-align: center;
}

.title a {
	display: table-cell;
	height: 70px;
	font-family: Georgia;
	font-size: 28px;
	line-height: 1;
	color: #009900;
	text-decoration: none;
	vertical-align: middle;
}

.title .icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	padding: 14px;
	margin: 0 5px 0 0;
	font-size: 42px;
	line-height: 1;
	color: #FFFFFF;
	text-shadow: 0px -1px 1px #444444;
	font-weight: bold;
	text-align: center;
	background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
	background-color: #009900;
	border-radius: 4px;
	box-sizing: border-box;
}

.title a:hover .icon{
	transition: 1s;
	color: #009900;
	background: transparent;
	background-color: transparent;
	font-size: 28px;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	text-shadow: none;
	font-weight: normal;
}

.description {
	display: inline-block;
	color: transparent;
	margin: 8px 0 0 0;
	font-size: 20px;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
}

.title a:hover .description {
	transition: 2s;
	color: #424242;
}

.main > article {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	padding: 20px;
}