body {
    font: 16px/1.7 "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
}

.main table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
}

.main table th{
    text-align: left;
    background-color: #CCCCCC;
    border: 1px solid #000000;
}

.main table td{
    border: 1px solid #000000;
}