@charset 'utf-8';
@-ms-viewport { width: device-width; }

body {
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
}

.main {
    margin: 20px 20px 200px 20px;
}

section {
    margin: 20px auto 0 auto;
    background-color: #fffacd;
    max-width: 700px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.subtitle {
    margin: 0;
    padding: 5px;
    background-color: #f5deb3;
}

.subtitle h1 {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}

.subtitle p {
    margin: 8px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
}

.content {
    padding: 10px;
}